<div id="first" class="chat">
  <p>Chack Norris</p>
  <!--<select multiple id="first_user" size="10" style=" width: 300px; height: 100px;">-->
  <!--</select>-->
  <ul id="first_user"></ul>
  <br>
  <input type="text" cols="40" rows="3" , id="first_input">
  <br>
  <button id="first_send">Send</button>
</div>

<div id="second" class="chat">
  <p>Van Damme</p>
  <!--<select id="second_user" multiple size="10" style=" width: 300px; height: 100px;">-->
  <!--</select>-->
  <ul id="second_user"></ul>
  <br>
  <input type="text" cols="40" rows="3" , id="second_input">
  <br>
  <button id="second_send">Send</button>
</div>

<div id="third" class="chat">
  <p>Jackie Chan</p>
  <!--<select id="third_user" multiple size="10" style=" width: 300px; height: 100px;">-->
  <!--</select>-->
  <ul id="third_user"></ul>
  <br>
  <input type="text" cols="40" rows="3" , id="third_input">
  <br>
  <button id="third_send">Send</button>
</div>
